//-
  options.type      {"text", "text-default", "bordered", "filled", "pay"}
  options.text
  options.url       

include ./ico_arrow

mixin button(options)
  -
    var type = "text", text = "Ok", url = "/urls/empty"
    if(typeof(options) != undefined) {
      typeof(options.type) != "undefined" && (type = options.type)
      typeof(options.text) != "undefined" && (text = options.text)
      typeof(options.url) != "undefined" && (url = options.url);
    }
  case type
    when "bordered"
      a.button-bordered(href= url)= text
    when "filled" 
      a.button-filled(href= url)= text
    when "pay"
      a.button-filled(href= url)
        .button-text= text
        .spacer
        +ico_arrow
    when "text"
      a.button(href= url)= text
    default
      a.button-default(href= url)= text
