//-
  options.type      {"text", "text-default", "bordered", "filled", "pay"}
  options.text
  options.url       
  options.classes     str // additional classes
  options.ishover   bool
include ./ico_arrow

mixin button(options)
  -
    var type = "text", text = "Ok", url = false, classes = "", ishover = false;
    if(typeof(options) != "undefined") {
      typeof(options.type) != "undefined" && (type = options.type)
      typeof(options.text) != "undefined" && (text = options.text)
      typeof(options.url) != "undefined" && (url = options.url);
      typeof(options.classes) != "undefined" && (classes = options.classes);
      typeof(options.ishover) != "undefined" && (ishover = options.ishover);
    }
    if (ishover)
      classes += " hovered"
  case type
    when "bordered"
      a.button-bordered(class= classes href= url)= text
    when "filled" 
      a.button-filled(class= classes href= url)= text
    when "pay"
      a.button-filled(class= classes href= url)
        .button-text= text
        .spacer
        +ico_arrow
    when "text"
      a.button(class= classes href= url)= text
    default
      a.button-default(class= classes href= url)= text
