
include ../../components/button/button
include ../../components/checkbox/checkbox
include ../../components/datedropdown/datedropdown
include ../../components/dropdown/dropdown
include ../../components/likebutton/likebutton
include ../../components/logo/logo
include ../../components/radiogroup/radiogroup
include ../../components/ratebutton/ratebutton
include ../../components/textbox/textbox
include ../../components/toggle/toggle

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title Form Elements
    link(rel="stylesheet" type="text/css" href="main.css")    
    script(src="jquery.min.js")
    script(src="main.bundle.js")
  body
    .form-elements
      .logo-container
        +logo
      .grid-a
        //+button({text: "grid-a"})
        +textbox({title: "text field", tip: "default", placeholder: "Email",})
        +textbox({title: "text field", tip: "hover / focus",  text: "This is pretty awesome", ishovered: true})
        +dropdown({custom_title: "dropdown", tip: "default"})
        +textbox({title: "masked text field", tip: "default",  text: "", mask: "date"})
        +dropdown({type: "rooms", layout_expand: true, expanded: true, buttons_footer: false})
        .datedropdown-container1
          +datedropdown({splitted: true, dates: ["", "2019-08-19"]})
        .datedropdown-container2
          +datedropdown({dates: ["2019-08-19", "2019-08-23"], captions: ["Filter date dropdown"]})
        +textbox({title: "Subscription text field", placeholder: "Email", arrow_button: true})
      .grid-b
        .checkbox-buttons
          .h3= "Checkbox buttons"
          +checkbox({text: "Можно курить"})
          +checkbox({text: "Можно с питомцами", checked: true})
          +checkbox({text: "Можно пригласить гостей\n(до 10 человек)", checked: true})
        .radiobuttons
          .h3= "Radio buttons"
          +radiogroup({labels: ["Мужчина", "Женщина"]})
        .togglegroup
          .h3= "Toggle"
          +toggle({text: "Получать спецпредложения", on: true})
          +toggle({text: "Получать спецпредложения"})
        .likebuttongroup
          .h3= "Like button"
          .sub
            +likebutton({value: 2})
            +likebutton({value: 12, checked: true})
        .ratebuttongroup
          .h3= "Rate button"
          .sub
            +ratebutton({stars: 4})
            +ratebutton({stars: 5})
      .grid-c
        +button({text: "grid-c"})
